* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.container {
  width: 400px;
  min-height: 200px;
  background-color: #2a2a2a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 35px;
  color: #ffffff;
  font-size: 28px;
}

.btn {
  display: flex;
  gap: 10px;
}

.start,
.stop {
  background-color: #2563eb;
  margin-top: 15px;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 80px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
}

.stop {
  background-color: #ff3636e3;
}

.reset-btn {
  background-color: inherit;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}
