*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0b0b0b;
}

.container {
  background-color: rgba(255, 170, 23, 0.964);
  color: #fafafa;
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0.3px #ffa51dbe;
  overflow: hidden;
}

.eyes {
  font-size: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0px 80px;
  color: #000000;
  margin-top: -70px;
}

.author,
.content {
  font-size: 13px;
  font-weight: 400;
  background-color: #1a1a1af1;
  padding: 1px 0px;
}

.info p {
  font-size: 13px;
  font-weight: 400;
  background-color: #1a1a1af1;
  padding: 2px 0px;
}

.info h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px;
}
