*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #0b0b0b;
}

.header h1 {
  font-size: 23px;
  font-weight: 500;
  color: rgba(255, 181, 34, 0.869);
  margin-bottom: 13px;
}

.profile-card {
  background-color: rgba(255, 170, 23, 0.964);
  color: #fafafa;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0.3px #ffa51dbe;
  overflow: hidden;
}

.eyes {
  font-size: 70px;
  display: flex;
  justify-content: space-between;
  margin: 0px 65px;
  color: #000000;
  margin-top: -70px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.age,
.hobby {
  font-size: 13px;
  font-weight: 400;
  background-color: #1a1a1af1;
  padding: 2px 0px;
}

.footer p {
  color: rgba(117, 117, 117, 0.751);
  font-size: 10px;
  font-weight: 400;
  margin-top: 10px;
}
