body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #ffffff;
}

.signup-container {
  background-color: #1e1e1e;
  padding: 25px;
  border-radius: 20px;
  width: 330px;
  height: 380px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  flex: 1;
  font-size: 13px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  padding: 13px;
  background-color: #1c1c1c;
  color: #ffffff;
}

.check-btn {
  padding: 12px 20px;
  background-color: #1a9c50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.error-msg {
  color: #ff4444;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
}

.success-msg {
  color: #2ca31a;
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
}
