*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
}

.card-container {
  perspective: 1000px;
  width: 250px;
  height: 170px;
  cursor: pointer;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  width: 100%;
  height: 100%;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #63b3ffe2;
  backface-visibility: hidden;
}

.profile-info h2,
.profile-info p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info p {
  margin-top: 15px;
  font-weight: 400;
}

.back {
  transform: rotateY(180deg);
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skills span {
  font-weight: 400;
}

.heart-btn {
  background: none;
  border: none;
  color: #432bf4d1;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  gap: 5px;
}
